<div class="container">
  <div class="form">
    <div class="search">
      <label for="search">Поиск</label>
      <input
        #input
        id="search"
        type="text"
        placeholder="Введите имя и/или фамилию"
        (keyup)="search(input.value)"
      />
    </div>
    <div class="filter">
      <div class="filter-data">
        <input
          type="text"
          placeholder="Начальная дата"
          #dataMin
          date
          [value]="dataMin.placeholder"
        />
        <input
          type="text"
          placeholder="Конечная дата"
          #dataMax
          date
          [value]="dataMax.placeholder"
        />
        <button class="btn" (click)="filterDate(dataMin.value, dataMax.value)">
          Фильтрация по дате
        </button>
      </div>
      <div class="filter-score">
        <input type="text" placeholder="Минимальный балл" #minScore />
        <input type="text" placeholder="Максимальный балл" #maxScore />
        <button
          class="btn"
          (click)="filterScore(minScore.value, maxScore.value)"
        >
          Фильтрация по баллам
        </button>
      </div>

      <button class="btn" (click)="clearFilter()">Сброс фильтров</button>
    </div>
    <div class="score">
      <p>Оценка меньше трех</p>
      <span class="toggle-bg">
        <input
          type="range"
          id="toggle"
          min="0"
          max="1"
          (change)="range = !range"
        />
      </span>
    </div>
  </div>

  <div class="table">
    <h2>Таблица студентов</h2>
    <table>
      <tr>
        <th caption>
          Фамилия<img
            src="../../assets/down-10.png"
            (click)="sort('surname')"
          />
        </th>
        <th caption>
          Имя<img src="../../assets/down-10.png" (click)="sort('name')" />
        </th>
        <th caption>
          Отчество<img
            src="../../assets/down-10.png"
            (click)="sort('patronymic')"
          />
        </th>
        <th caption>
          Дата рождения
          <img src="../../assets/down-10.png" (click)="sort('birthday')" />
        </th>
        <th caption>
          Средний балл
          <img src="../../assets/down-10.png" (click)="sort('score')" />
        </th>
        <th></th>
        <th></th>
      </tr>
      <tr
        *ngFor="let student of students"
        [ngClass]="{
          lowScore: student.score < 3 && range,
          finded: findedStudents.includes(student.id),
          none: deleteStudents.includes(student.id)
        }"
      >
        <td>{{ student.surname | capitalize }}</td>
        <td>{{ student.name | capitalize }}</td>
        <td>{{ student.patronymic | capitalize }}</td>
        <td>{{ student.birthday }}</td>
        <td>{{ student.score | round: 2 }}</td>
        <td>
          <img
            src="../../assets/edit-20.png"
            alt="edit"
            (click)="edit = true; idStudent = student.id; showPopUpForm()"
          />
        </td>
        <td>
          <img
            src="../../assets/delete-20.png"
            alt="delete"
            class="delete"
            (click)="showPopUp(student.name, student.surname)"
          />
        </td>
      </tr>
    </table>
    <button class="btn add" (click)="showPopUpForm(); edit = false">
      Добавить студента
    </button>
  </div>
  <div *ngIf="popUpForm.isShow" class="popup">
    <button class="close" (click)="hide()">X</button>
    <app-form
      [arrStudents]="students"
      [edit]="edit"
      [id]="idStudent"
    ></app-form>
  </div>

  <div *ngIf="popUp.isShow" class="popup">
    <button class="close" (click)="hide()">X</button>
    <span>{{ popUp.message }} </span>
    <div>
      <button class="btn" (click)="deleteStudent(popUp.surname)">Да</button>
      <button class="btn" (click)="hide()">Нет</button>
    </div>
  </div>
</div>
